doctype html
html
  head
    title Random Word Generator
    link(rel="stylesheet", href="/styles/app.css")
  body
    sentence-display
    generator-buttons
    script(type="text/javascript", src="/js/vendor.js")
    script(type="text/javascript", src="/js/app.js")